<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Ejemplo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/">Inicio</a>
            </li>
            <li>
                <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" routerLinkActive="active" routerLink="/a">
                    A
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" routerLinkActive="active" [routerLink]="['/a','suba']">SubA</a></li>
                    <li><a class="dropdown-item" routerLinkActive="active" routerLink="/a/subb">SubB</a></li>
                </ul>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/b/hola','mundo']">B</a>
            </li>
            <li>
                <a class="nav-link" routerLinkActive="active" routerLink="/">Error</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

<app-note [note]="{title:'test',description:'test'}"
(editNote)="this.editingNote($event)" (removeNote)="this.removingNote($event)" ></app-note>
<app-note [note]="{id:2,title:'hola',description:'mundo'}"
(editNote)="this.editingNote($event)" (removeNote)="this.removingNote($event)" ></app-note>
<app-button [clase]="'btn btn-danger'" [texto]="'Alerta'" (action)="alerta()"></app-button>
<router-outlet></router-outlet>
